<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Edit Project</title></head>
<body>
<h1>Edit Project</h1>
<form th:action="@{/projects/{id}/edit(id=${project.id})}" th:object="${project}" method="post">
    <label>Name: <input type="text" th:field="*{name}"/></label><br/>
    <label>Description: <input type="text" th:field="*{description}"/></label><br/>
    <label>Hourly Rate: <input type="number" step="0.01" th:field="*{hourlyRate}"/></label><br/>
    <button type="submit">Save</button>
</form>
<a href="/projects">Back</a>
</body>
</html>